.editor {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.editor__input {
  border: 0;
  font: inherit;
  outline: none;
  width: 70%;
  height: inherit;
  padding: 20px;
}

textarea {
  height: inherit;
  resize: none;
}
